<h2 class="page-header" >Reset Password</h2>
<form (submit)="onChangeSubmit()">
        <div class="form-group">
          <label for="password">New Password</label>
          <input type="password" class="form-control" placeholder="Enter New Password" [(ngModel)]="password" name="password">
        </div>
        <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <input type="password" class="form-control" placeholder="Confirm New Password" [(ngModel)]="password" name="confirm">
        </div>
        <input class="btn btn-lg btn-primary" type="submit" value="Change Password">
</form>